
.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  padding-right: 1em;
  padding-left: 1em;

  transition: color 0.5s;
  letter-spacing: 0.1em;

  font-size: 1.125rem;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}
.btn--light {
  min-width: 250px;

  border: 2px solid $color-light;
  background-color: rgba($color-light, 0.1);
}

.btn--primary {
  min-width: 350px;

  border: 2px solid $color-primary;
  background-color: rgba($color-primary,0.8);
}
